%gutenberg-overlay-pallette {
  @for $i from 1 through 10 {

    &.has-color-1-overlay-color.has-background-dim-#{ $i * 10 }{
      &::before {
      background-color: rgba( $color-1, $i * 0.1  ) !important;
      }
    }

    &.has-color-2-overlay-color.has-background-dim-#{ $i * 10 } {
      &::before {
      background-color: rgba( $color-2, $i * 0.1  )!important;
      }
    }

    &.has-color-3-overlay-color.has-background-dim-#{ $i * 10 } {
      &::before {
      background-color: rgba( $color-3, $i * 0.1  ) !important;
      }
    }

    &.has-color-4-overlay-color.has-background-dim-#{ $i * 10 } {
      &::before {
      background-color: rgba($color-4, $i * 0.1) !important;
      }
    }

    &.has-color-5-overlay-color.has-background-dim-#{ $i * 10 }::before {
      background-color: rgba($color-5, $i * 0.1 ) !important;
    }

    &.has-color-6-overlay-color.has-background-dim-#{ $i * 10 }::before {
      background-color: rgba( $color-6, $i * 0.1  ) !important;
    }

    &.has-color-7-overlay-color.has-background-dim-#{ $i * 10 }::before {
      background-color: rgba( $color-7, $i * 0.1  ) !important;
    }

    &.has-color-8-overlay-color.has-background-dim-#{ $i * 10 }::before {
      background-color: rgba( $color-8, $i * 0.1  ) !important;
    }

    &.has-color-9-overlay-color.has-background-dim-#{ $i * 10 }::before {
      background-color: rgba( $color-9, $i * 0.1  ) !important;
    }

    &.has-color-10-overlay-color.has-background-dim-#{ $i * 10 }::before {
      background-color: rgba( $color-10, $i * 0.1  ) !important;
    }

  }
}